# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# java class file
*.class

# Package Files #
*.war
*.ear
/target
/.settings
/.classpath
/.project
/.idea
/.svn
/logs

# ignore Maven generated target folders
target
out

# ignore eclipse files
.project
.classpath
.settings
.factorypath
.metadata
.idea
*.yml
*.iml


# ignore log files
*.log
/project-cluster-service/gmall/gmall-rear-server/coupon-service/.mvn/wrapper/
/project-cluster-service/gmall/gmall-rear-server/member-service/.mvn/wrapper/
/project-cluster-service/gmall/gmall-rear-server/order-service/.mvn/
/project-cluster-service/gmall/gmall-rear-server/order-service/.mvn/wrapper/
/project-cluster-service/gmall/gmall-rear-server/product-service/.mvn/wrapper/
/project-cluster-service/gmall/gmall-rear-server/storage-service/.mvn/wrapper/
