<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blithe.cms.mapper.system.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.blithe.cms.pojo.system.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="deptid" jdbcType="INTEGER" property="deptid" />
    <result column="hiredate" jdbcType="TIMESTAMP" property="hiredate" />
    <result column="mgr" jdbcType="INTEGER" property="mgr" />
    <result column="available" jdbcType="INTEGER" property="available" />
    <result column="ordernum" jdbcType="INTEGER" property="ordernum" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="imgpath" jdbcType="VARCHAR" property="imgpath" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, loginname, address, sex, remark, pwd, deptid, hiredate, mgr, available, 
    ordernum, `type`, imgpath, salt
  </sql>

  <select id="queryNameAndcode" resultType="com.blithe.cms.pojo.system.SysUser">
    select
    <include refid="Base_Column_List" />
    from sys_user where loginname="#{loginname}" and pwd="#{pwd}";
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectRidByUid" resultType="java.lang.Integer">
      select rid from sys_role_user where uid = #{uid}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByUid">
    delete from sys_role_user where uid = #{uid}
  </delete>
  <insert id="insertBatchUidAndRid">
    insert into sys_role_user ( rid,uid )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.rids},#{item.uid})
    </foreach>
  </insert>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.blithe.cms.pojo.system.SysUser" useGeneratedKeys="true">
    insert into sys_user (`name`, loginname, address, 
      sex, remark, pwd, deptid, 
      hiredate, mgr, available, 
      ordernum, `type`, imgpath, 
      salt)
    values (#{name,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{deptid,jdbcType=INTEGER}, 
      #{hiredate,jdbcType=TIMESTAMP}, #{mgr,jdbcType=INTEGER}, #{available,jdbcType=INTEGER}, 
      #{ordernum,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{imgpath,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.blithe.cms.pojo.system.SysUser" useGeneratedKeys="true">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="loginname != null">
        loginname,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="deptid != null">
        deptid,
      </if>
      <if test="hiredate != null">
        hiredate,
      </if>
      <if test="mgr != null">
        mgr,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="ordernum != null">
        ordernum,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="imgpath != null">
        imgpath,
      </if>
      <if test="salt != null">
        salt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgr != null">
        #{mgr,jdbcType=INTEGER},
      </if>
      <if test="available != null">
        #{available,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="imgpath != null">
        #{imgpath,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.blithe.cms.pojo.system.SysUser">
    update sys_user
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null">
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="hiredate != null">
        hiredate = #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgr != null">
        mgr = #{mgr,jdbcType=INTEGER},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null">
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="imgpath != null">
        imgpath = #{imgpath,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blithe.cms.pojo.system.SysUser">
    update sys_user
    set `name` = #{name,jdbcType=VARCHAR},
      loginname = #{loginname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      deptid = #{deptid,jdbcType=INTEGER},
      hiredate = #{hiredate,jdbcType=TIMESTAMP},
      mgr = #{mgr,jdbcType=INTEGER},
      available = #{available,jdbcType=INTEGER},
      ordernum = #{ordernum,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      imgpath = #{imgpath,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>