<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jnyou.mapper.DeviceMapper">

    <select id="simpleDeviceListAndChildDevice" resultType="io.jnyou.core.dos.DeviceDO">
        SELECT * FROM t_device WHERE parent IN
        <foreach collection="parentIds" item="spaceId" separator="," open="(" close=")">
            #{spaceId}
        </foreach>
    </select>

</mapper>
